body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.font-face-heebo {
  font-family: "Heebo";
}

.font-face-rubik {
  font-family: "Rubik";
}

.font-face-oxygen {
  font-family: "Oxygen";
}

.card-container {
  border: solid 3px rgb(100, 201, 244);
  width: 400px;
  margin: 10px;
}