@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Heebo';
    src: local("Heebo"), url("/src/assets/fonts/Heebo/Heebo-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: 'Rubik';
    src: local("Rubik"),
      url("/src/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf");
  }
  
  @font-face {
    font-family: 'Oxygen';
    src: local("/src/assets/fonts/Oxygen/Oxygen-Regular.ttf"),
      url("");
  }